.post-info {
	margin: 0 auto;
  	margin-bottom: 15px;
  	text-align: center;
  	border-bottom: 1px solid #e8e8e8;
}

.section img {
        max-width: 100%
}

.article {
	font-size: 16px;
}

.article h1 {
	font-size: 24px;
}

.article h2 {
	font-size:22px;
}

.article h3 {
	font-size:20px;
}

.article h4 {
	font-size:18px;
}

.navbar-custom .navbar-toggle {
	border-color: #fff;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-custom .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
	border-color: #e7e7e7;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
	color: #fff;
	background-color: #aaa;
}

.divider {
	height: 1px;
	background-color: #ddd;
}
